<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Groceries
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Add Item" [(ngModel)]="newItemInput"  (keyup.enter)="triggerAddNewItem()"></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)="triggerAddNewItem()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>
  <ion-list>
    <ion-item button detail *ngFor="let product of getProducts() | async">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label [routerLink]="'/product/' + product.id" routerDirection="forward">{{ product.name }}</ion-label>
    </ion-item>
  </ion-list>
<!--  <ion-item-group>-->
    <ion-label class="ion-padding">Cart</ion-label>
    <ion-list>
    <ion-item button detail *ngFor="let product of getProducts() | async">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label [routerLink]="'/product/' + product.id" routerDirection="forward">{{ product.name }}</ion-label>
    </ion-item>
    </ion-list>
<!--  </ion-item-group>-->


</ion-content>
